.home-header {
  background-image: url("https://i.ibb.co/MPFkXjh/fertiun.png");
 background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%; /* Resize the background image to cover the entire container */
  height:5vh;
}
.home-footer {
  background-image: url("https://i.ibb.co/pPZFJnj/footer.png");
 background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%; /* Resize the background image to cover the entire container */
  height:5vh;
}
.home-content {
  p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  background-image: url("https://i.ibb.co/0YPztNx/Fondo-1.jpg");
 background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%; /* Resize the background image to cover the entire container */
  height:100vh;
}
